.newsCard {
  width: 284px;
  height: 200px;
  border-radius: 26px;

  overflow: hidden;
  position: relative;
}

.newsCard__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.newsCard__content {
  width: 100%;
  height: 72px;
  background: rgba(17, 24, 39, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 12px;

  position: absolute;
  bottom: 0;
}

.newsCard__content p {
  color: #fff !important;
  font-weight: bold;
  text-align: left;
}

.newsCard__content__title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.newsCard__content__smallText {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: lighter !important;
}
