.spaceView {
  padding: 0px;
}

.spaceView__header {
  width: 100%;
  position: relative;
}

.spaceView__header__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.spaceView__header__content {
  width: 100%;
  height: 62px;
  background: rgba(17, 24, 39, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 32px;

  position: absolute;
  bottom: 0;
}

.spaceView__header__content p {
  color: #fff !important;
  font-weight: bold;
}

.spaceView__form {
  padding: 0px 26px;
}

.spaceView__form h1 {
  font-size: 18px;
}

.spaceView__form p {
  font-size: 14px;
}

.spaceView__schedule {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;

  border: 1px solid #111827;
}

.spaceView__schedule__option {
  text-align: left;
  padding: 14px 30px;
  border: 1px solid #111827;
}

.spaceView__schedule__option--selected {
  background-color: #7b61ff;
  color: #fff;
}

.spaceView__scroll {
  gap: 12px;
  align-items: flex-start;
}
