.spaceView {
  padding: 0px;
}

.spaceView__header {
  width: 100%;
  position: relative;
}

.spaceView__header__titleTag {
  width: fit-content;
  padding: 8px 12px;
  border-radius: 20px;
  background: rgba(17, 24, 39, 0.6);

  display: flex;
  gap: 14px;

  position: absolute;
  left: 12px;
  top: 20px;
}

.spaceView__header__titleTag p {
  font-weight: bold;
  color: #fff;
}

.spaceView__header__titleTag img {
  fill: #fff;
}

.spaceView__header__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.spaceView__header__content {
  width: 100%;
  height: 62px;
  background: rgba(17, 24, 39, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 32px;

  position: absolute;
  bottom: 0;
}

.spaceView__header__content p {
  color: #fff !important;
  font-weight: bold;
}

.spaceView__form {
  padding: 0px 26px;
}

.spaceView__form h1 {
  font-size: 18px;
}

.spaceView__form p {
  font-size: 14px;
}

.spaceView__schedule {
  width: 100%;
  border-radius: 13px;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.spaceView__schedule__option {
  text-align: left;
  padding: 14px 30px;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.spaceView__schedule__option:first-child {
  border-radius: 12px 12px 0 0;
}

.spaceView__schedule__option:last-child {
  border-radius: 0 0 12px 12px;
}

.spaceView__schedule__option--selected {
  background-color: #7b61ff;
  color: #fff;
}

.spaceView__scroll {
  gap: 12px;
  align-items: flex-start;
}
